// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
@import "bootstrap";
=======
@import "bootstrap";

$grayMediumLight: #eaeaea;

//body {
//	padding-top: 60px;
//}

div {
	
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $gray-light;
	
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		}
	}
	
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}
>>>>>>> 3d003d43a6380c1e2ca479c563d86764790317ad
